---
title: Using Nozzle for VMware Tanzu for Microsoft Azure Log Analytics
owner: Partners
---

This topic describes how to use Nozzle for VMware Tanzu for Microsoft Azure Log Analytics.


## <a id='using'></a> Using the Nozzle for VMware Tanzu for Microsoft Azure Log Analytics

After you install the Azure Log Analytics Nozzle, you can manage it in the Apps Manager as a VMware Tanzu app. You can start or stop the app, and scale it by changing its instance number, memory limit, and disk limit.
<img src="images/apps-manager.png" alt="" >

<p class="note caution">
<span class="note__title">Caution</span>
When using a free or limited tier of OMS Log Analytics, log/metric loss will occur when quotas are reached. See [this knowledge base article](https://community.pivotal.io/s/article/Azure-Log-Analytics-Nozzle-Crashes-Client-Timeout-Errors) for more info.</p>

## <a id='logsearch'></a> View Logs from VMware Tanzu in OMS Log Analytics

To view streaming VMware Tanzu logs in the Azure Operations Management Suite (OMS) portal, navigate to the workspace that you [created](./installing.html#create-oms) for your VMware Tanzu logs.

From your workspace, you can:

* Use **Log Search** to query the data. For example:
    * To list all the logs:
        <img src="images/logsearch-1.png" alt="" >
    * To get the instance count of each app:
        <img src="images/logsearch-2.png" alt="" >
    * To view the realtime CPU usage of each app:
        <img src="images/logsearch-3.png" alt="" >

* Create and customize your view dashboard in **View Designer**:
        <img src="images/dashboard-view.png" alt="" >

* Create **Alert Rules** to alert you of different events:
        <img src="images/create-alert-1.png" alt="" >
        <img src="images/create-alert-2.png" alt="" >

For more information, see the [View in OMS Portal](https://github.com/vmware-tanzu/nozzle-for-microsoft-azure-log-analytics/#view-in-oms-portal) section of the Nozzle for VMware Tanzu for Microsoft Azure Log Analytics code repository.
