---
title: Microsoft Azure Log Analytics Nozzle for PCF Release Notes
owner: Partners
---

## <a id="ver"></a> v1.3.1

**Release Date:** October 19, 2018

Feature included in this release:

* Specifies go buildpack by name instead of link to Github

Fixed issue in this release:

* Fixes compile error caused by the removal of support for go 1.7 in go buildpack
  [v1.8.28](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.8.28)


## <a id="ver"></a> v1.3.0

**Release Date:** August 17, 2018

Features included in this release:

* Adds feature `Space Whitelist` to filter unneeded metrics and logs
* Fetches API address and doppler adress automatically when absent in parameters
* Adapts to changes made to slow consumer alert from PCF v2.0+
* Adds configuration in PCF tile to scale the nozzle from Operations Manager
* Refines OMS view files, optimized data flow verification, and compability for PCF v2.0+ and System Metrics Forwarder

Known Issue:

* Due to the removal of support for go 1.7 in go buildpack [v1.8.28](https://github.com/cloudfoundry/go-buildpack/releases/tag/v1.8.28), installation of tile of this version or older will fail after October 12, 2018. Errand `deploy-all` of this tile can be disabled manually to skip this issue and upgrading to version 1.3.1 will resolve the issue. For sample error message, please visit issue [here](https://github.com/Azure/oms-log-analytics-firehose-nozzle/issues/15).


## <a id="ver"></a> v1.2.0

**Release Date:** November 17, 2017

Features included in this release:

* Adds information of corresponding organization and space about apps into app logging
* Supports new indicator for slow consumer alert


## <a id="ver"></a> v1.1.0

**Release Date:** July 13, 2017

Features included in this release:

* Adds Cloud Foundry Environment option for identifying logs and metrics from different PCF environments
* Installs the Microsoft Azure Log Analytics Nozzle into the system org


## <a id="ver"></a> v1.0.1

**Release Date:** July 4, 2017

This release is regenerated from v1.0.0 using tile-generator v8.0.0. Features included in this release:

* Adds format constraints on the configuration options: Cloud Foundry API Address and Cloud Foundry Doppler Address
* Upgrades the stemcell version to 3421


## <a id="ver"></a> v1.0.0

**Release Date:** June 26, 2017

This is the initial release of Microsoft Azure Log Analytics Nozzle for PCF. Features included in this release:

* Consume all data from CF Loggregator Firehose, including logs from all apps, and the metrics data from CF components
* Organize, filter, and transfer data to OMS Log Analytics for deep analyzing
* Integration with OMS Log Analytics, including default view dashboards and alert rules for monitoring the health and workload of your PCF deployment
* Automated default configuration for the Microsoft Azure Log Analytics Nozzle
* Additional logging to track the nozzle status, for example, slow consumer alerts; received, sent, and lost events
